/* NAVIGATION */

:root {
  --blue: #2654ab;
  --orange: #f99052;
  --yellow: #f3ca33;
  --white: #edf3fb;
}

.signup{
  height: 5vh;
  /* border: 2px solid red; */
  justify-content: center;
  padding-top: 1vh;
  display: flex;
  color: var(--yellow);
  background-color: var(--blue);
  letter-spacing: 1.5px;
  font-size: 2vh;
}
.sign{
  color: var(--orange)
}
.navbar {
  animation: 1s ease-out 0s 1 slideInFromTop;
  padding: 0;
  margin: 1.45vh 2.5vh !important;
  margin-top: 2.2vh !important;
  /* height: 4vh; */
  height: 6vh;
  padding-bottom: 15px;
  border-bottom: 2px solid rgba(13, 101, 195, 0.132);
}
.nav-left-text {
  margin-top: 2vh !important;
  width: 20%;
}

/* .h1i {
  font-weight: 900;
  text-transform: uppercase;
  color: rgb(13, 100, 195) !important;
  font-size: 2vh;
  font-family: 'Raleway', sans-serif !important;
  padding-bottom: .45vh !important;
  border-bottom: 0.09em solid rgb(235, 222, 176);
  margin-bottom: .2vh;
  letter-spacing: .12vw;
}

.header-item {
  grid-column: 1/-1;
}

.h2i {
  font-family: "Lato", sans-serif !important;
  color: orange !important;
  padding-top: 0 !important;
  font-size: .5em !important;
  letter-spacing: .035vw
} */

.logo {
  width: 10vw;
  display: flex;
  justify-content: center;
  align-content: center;
  position: absolute;
  top: 0;
}

.nav-link {
  position: relative;
  transition: all 0.5s;
}

.nav-item {
  /* font-family: "Kanit", sans-serif !important; */
  font-size: 0.8em;
}

.nav-link:after,
.nav-link:before {
  transition: all 0.5s;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: rgb(222, 230, 63) !important;
  height: 1px !important;
}

.nav-link:hover,
.btn:hover {
  z-index: 1;
  color: orange;
  border: 0;
}

.nav-link:hover:after {
  z-index: -10;
  width: 100%;
  font-weight: 900;
  opacity: 1;
}

.btn {
  color: rgb(13, 100, 195);
  font-size: 1.5vh;
  font-weight: 450;
  letter-spacing: 0.01vw;
}

/* animation: nav-logo-spin infinite 20s linear; */
@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
