@import url("https://fonts.googleapis.com/css?family=Barlow:100,500,700|Fira+Sans|Crimson+Text");

:root {
  /* --blue: #2654ab; */
  --blue: #4485d3;
  --darkblue: #183b7d;
  /* --orange: #f27831; */
  --orange: #eac22f !important;
  --yellow: rgba(233, 189, 12, 0.913);
  --white: #e5ebf4;
  --grey: rgb(242, 242, 242);
  --gradientBlue: linear-gradient(to top, #1e3c72 5%, #193a76 1%, #3975bf 75%);

  --gradient: linear-gradient(to top, #eac22f 5%, #e9c647 1%, #f9ec5bfe 75%);
  /* --gradientYellow: linear-gradient(120deg, #eac22f 10%,#f5d66fe5 100%); */
  --display: "Crimson Text", serif;
  --text: "Barlow", sans-serif;
  --text2: "Fira Sans", sans-serif;
}

body {
  background: white;
  margin: 0;
  min-height: 100vh;
  position: relative;
}

.container {
  padding: 0;
  margin: 0;
  margin-right: 0;
}

.App {
  text-align: center;
  height:100%
}

#donateTest {
  width: 200px;
}
