@import "../../App.css";

@media (min-width: 320px) {
  .shows {
    display: flex;
    flex: 1;
    font-family: var(--text);
  }

  .shows > button {
    height: 50px;
    flex: 1;
    cursor: pointer;
    border-top: 1px solid var(--gradient);
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    font-size: 1.6vh;
    font-weight: bold;
    letter-spacing: 0.15vw;

  }

  a,
  a:active,
  a:hover {
      text-decoration: none;
    color: var(--white) ;
  }

.white > a{
  color: black
}

  .crimson{
    background-image: var(--gradientBlue);
  }

  .hide {
    display: none;
  }

  .main-placeholder {
    position: relative;
    width: 100%;
    height: 400px;
  }
  .placeholder {
    width: 100%;
    background-color: rgba(208, 213, 218, 0.612);
    height: 400px;
    position: relative;

    z-index: -50;
    opacity: 0.75;
  }

  .placeholder-text {
    position: relative;
    text-align: left;
    font-family: var(--text);
    top: -300px;
    left: 0;
    z-index: 5;
    color: var(--white);
    background-color: rgba(0, 0, 0, 0.934);
    width: 55vw;
    letter-spacing: 1px;
    margin-left: 20px;
  }
  .placeholder-text .crimson {
    position: absolute;
    border: none;
    height: 40px;
    width: 150px;
    font-size: 1.6vh;
    font-weight: bold;
    letter-spacing: 0.1vw;
  }

  .stats-container {
    height: 550px;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .stats-title {
    position: absolute;
    display: flex;
    justify-content: center;
    margin-top: -25px;
    font-family: var(--text);
    font-size: 3vh;
    background-image: var(--gradient);
    border-radius: 2px;
    z-index: 100;
    height: 45px;
    width: 250px;
  }

  .stats-title span {
    font-size: 21px;
    color: var(--darkblue);
    margin-top: 5px;
    display: flex;
    justify-content: center;
    text-shadow: 0.5px 0px 0.5px darkgrey;
  }

  .stats {
    position: relative;
    top: 0px;
    display: block;
    margin: 10px auto;
    padding: 0;
    height: 100%;
  }

  .stat {
    padding: 1.8rem 1.2rem;
    position: relative;
    text-align: center;
    /* background-color:var(--yellow);
    border-radius: 50%; */
    height: 150px;
    width: 100%;
    margin: 10px 0;
  }

  .stat span {
    margin: 0 0 1.0625rem;
    font: 100 4.25rem var(--text), Arial, sans-serif;
    text-align: center;
  }
  .stat p {
    width: 100%;
    margin: 0 0 1.25rem;
    text-align: center;
    font-family: var(--text);
    font-size: 1.08rem;
    font-weight: bolder;
    margin-bottom: 1.25rem;
    text-rendering: optimizeLegibility;
    line-height: 1.4;
    letter-spacing: 0.3vw;
  }

  #video {
    margin-top: 35px;
  }

  #video-container {
    height: 450px;
    background-color: rgb(242, 242, 242);
    display: flex;
    justify-content: center;
    align-content: center;
  }

  .video-title {
    height: 45px;
    width: 250px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: -25px;

    font-family: var(--text);
    font-size: 3vh;
    background-image: var(--gradient);
    border-radius: 2px;
    z-index: 100;
  }

  .video-title span {
    font-size: 25px;
    color: var(--darkblue);
    margin-top: 3px;
    display: flex;
    justify-content: center;
    text-shadow: 0.5px 0px 0.5px darkgrey;
  }

  .carousel-main {
  /* display: hidden; */
    height: 350px;
    background-color: var(--grey);
    top: 50px;
    position: relative;
  }
}

@media (min-width: 1025px) {
  .shows button {
    display: none !important;
  }

  .crimson {
    background-image: var(--gradient);
    
  } 
  .crimson > a{
    color: crimson
  }
  .placeholder-text {
    width: 35vw;
    top: -240px;
  }

  .stats-container {
    height: 100%;
  
  }
  .stats-title {
    position: absolute;
    display: flex;
    justify-content: center;
    margin-top: -28px;
    font-family: var(--text);
    background-image: var(--gradient);
    /* color: var(--darkblue); */
    border-radius: 2px;
    z-index: 100;
    height: 52px;
    width: 350px;
    border-radius: 2px;
  }

  .stats-title span {
    font-size: 35px;
    font-weight: bolder;
    color: var(--darkblue);
    text-shadow: 2px 0px 3px var(--white);
    margin-top: -2px;
    display: flex;
    justify-content: center;
    align-content: center;
  }

  .stats {
    position: relative;
    top: -10px;
    display: inline-block;
    width: 100%;
    padding: 9em 0;
  }

  .stat {
    display: inline-block;
    text-align: center;
    height: auto;
    width: 32%;
    align-content: center;
    /* border: 1px solid red */
  }

  .stat span {
    font: 100 5rem var(--text), Arial, sans-serif;
    text-align: center;
  }
  .stat p {
    width: 100%;
    text-align: center;
    font-family: var(--text);
    font-weight: bolder;
    text-rendering: optimizeLegibility;
    line-height: 1;
    letter-spacing: 0.15vw;
  }

  #video-container {
    height: 650px;
    background-color: rgb(242, 242, 242);
    display: flex;
    order: 1;
    justify-content: center;
    align-content: center;
    margin: -5vh auto;
  }

  .video-title {
    height: 45px;
    width: 350px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: -25px;
    font-family: var(--text);
    font-size: 3vh;
    background-image: var(--gradient);
    border-radius: 2px;
    z-index: 100;
  }

  .video-title span {
    font-size: 33px;

    font-weight: bolder;
    color: var(--darkblue);
    text-shadow: 2px 0px 3px var(--white);
    margin-top: -3px;

    display: flex;
    justify-content: center;
    /* text-shadow: 2px 0px 3px black; */
    letter-spacing: 0.1vw;
  }
  
 
  .carousel-main {
    order: 3;
    height: 500px;
    margin: 9em 0 160px;
    justify-content: center;
   
  }

  .left {
    display: block;
  }
}
