@import "../../App.css";

@media all and (min-width: 320px) {
  .container-contact {
    position: relative;
    padding: 100px 0 18px;
    display: -webkit-box; /* Safari */
    display: block;
    height: 100%;
 
 
  }

  .donate-title {
    position: relative;
    display: flex;
    justify-content: center;
    /* margin-top: 10px !important; */
    top: -43px;
    margin: -22.5px auto;
    font-family: var(--text2);
    background-image: var(--gradient);
    border-radius: 2px;
    z-index: 100;

    width: 250px;
  }

  .donate-title span {
    font-size: 30px;
    color: #183b7d;
    margin-top: 0px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-shadow: 0px 1px 1px var(--white);
  }

  .contributions {
    position: relative;
    color: black;
    font-size: 23px;
    margin: 0 0 0 8%;
    padding: 50px 5%;
    font-family: var(--text2);
    background-color: var(--grey);
    overflow-wrap: break-word;
    float: left;
    height: 500px;
    border-radius: 5px;
  }

  .generous {
    margin-top: 4%;
  }

  .frame .row {
    display: -webkit-box; /* Safari */
    display: block;
    padding-top: 30px !important;
    float: left;
    align-items: center;
    position: relative;
  
  }

  .myClassname {
    position: relative;
    display: initial;
    height: 530px !important;
    margin-bottom: 30px;
    right: 4%;
  }

  .contact {
    position: relative;
    height: 50vh;
    margin: 100px auto;
   
    border-radius: 5px;
  }

  .form-text {
    /* display: block;*/
    background-color: var(--blue);
    height: 100%;
    float: left;
    padding:6% 0 0;
    vertical-align: middle;
    border-radius: 1%;
   
  }

  .form-text h1 {
    font-size: 3em;
 
    font-weight: bold;
    font-family: var(--text2);
    color: var(--orange);
    text-shadow: 0px 1px 1px var(--darkblue);
    letter-spacing: 1px;
    margin-top: 5px
    
  }

  .form-text p {
    margin: 25px auto 0px auto;
    font-style: italic;
    font-size: 1em;
    color: white
  }
  .form-text > i {
    width: 3em;
    height: 5em !important;
    margin-top: 6vh;
  }

.fab{
  color: white
}

  .form {
    display: inline-block;
    left: 3%;
 
    padding: 3.5% 0;
    color: var(--darkblue);
    text-shadow: 0px 1px .5px var(--grey);
    font-family: var(--text);
    font-size: 1.2em
  }


  .form-group > .submit-button {
    background-image: var(--gradient);
    width: 150px;
    color: var(--darkblue);
    font-size: 18px;
    font-family: var(--text);
    font-weight: bolder;
    letter-spacing: 1px;
  }
}

/* @media (min-width: 396px){
  .contributions{
    max-width: 360px !important;
    overflow-wrap: break-word;
    margin: 20px;

  }
  } 
/* -----original------ */

/* .container-contact {
  margin: 2vh;
  position: relative;
  padding-top: 62px;

}


.contact {
  float: left;
  padding: 0;
  position: relative;
  top:5vh;
}

.form-text {
  float: left;
  font-family: var(--text2);
  margin: 30px auto;
}
.form-text h1{
  background-image: var(--gradientYellow) !important;
  color: #183b7d;

}
.form {
  float: right;
}

.frame {
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center !important;
  padding-top: 5%;
  height:100%;
  position: relative;
}

.myClassname {
  position: relative;
  display: initial;
  height: 44vh !important;
  width: 100vw;
  margin-bottom: 30px;
}

btn.submit-button {
  color: rgb(13, 100, 195);
  border-radius: 0.3em;

  padding: 0.3em 1.5em;
  margin: 0px 4px;
  font-family: "Raleway", sans-serif !important;
  animation: 1s ease-out 0s 1;
  position: relative;
  transition: all 0.5s;
}

button.submit-button:after,
button.submit-button:before {
  transition: all 0.5s;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: rgb(222, 230, 63) !important;
  height: 0px;
}

.submit-button:hover {
  z-index: 1;
  color: orange(215, 5, 5) !important;
}

.submit-button:hover:after {
  z-index: -10;
  width: 100%;
  font-weight: 900;
  opacity: 1;
  border: 0 !important;
} */
